@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400;500;700;900&display=swap');

body {
  overflow: hidden;
  position: relative;
  background-color: #141414;
  color: white;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
